<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
</head>
<body>
     {% extends 'video_collection/base.html' %}

    {% block content %}

     <h2>Add new video</h2>

     <ul>
         {% for message in messages %}
            <li>{{ message }}</li>
         {% endfor %}
     </ul>

     <form method="post" action="{% url 'add_video' %}">
         {% csrf_token %}
         {{ new_video_form }}
         <button type="submit">Add video</button>
     </form>

    {% endblock %}
</body>
</html>